<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
</head>
<body>
    <nav class="navbar">
    <div class="nav-container">
        <span class="nav-logo"><a href="/">Guestbook</a></span>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="https://github.com/tonymythical/portfolio" target="_blank" class="nav-external">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/anthony-m-8341502a8/" target="_blank" class="nav-external">LinkedIn</a></li>
        </ul>
    </div>
    </nav>
<hr>
</body>
</html>