<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume - Anthony Margullis</title>
    <link rel="icon" type="image/x-icon" href="/styles/favicon.ico" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include('partials/nav') %>

    <div class="container">
      <div class="header">
        <div class="header-content">
          <h1>Anthony Margullis</h1>
          <div class="contact-info">
            <p>a_margullis@yahoo.com</p>
            <p>(206) 687-0042</p>
          </div>
          <div class="contact-info" style="gap: 1rem;">
            <a href="https://www.linkedin.com/in/anthony-m-8341502a8/">linkedin.com/in/anthony-m-8341502a8</a>
            <a href="https://github.com/tonymythical">github.com/tonymythical</a>
          </div>
        </div>
        <img class="profile-photo" src="/images/IMG_5052.JPG" alt="Picture of Anthony" />
      </div>

      <section>
        <h2>Summary</h2>
        <p class="summary">
          Aspiring developer entering Green River Community College's Bachelor's
          program. Experienced in HTML and Java, with a strong foundation in Agile.
          Eager to contribute to a team in a professional workplace setting.
        </p>
      </section>

      </div>
  </body>
</html>